.left-menu {
    margin: 5px 0px 15px 0px;
    .menu-title {
        text-transform: uppercase;
        font-size: 17px;
        font-weight: 900;
        padding: 0;
        border-bottom: solid 2px $menu-title;
    }
    .menu-body {
        padding: 0;
        margin: 10px 0 0 0;
        li {
            cursor: pointer;
            list-style: none;
            background-color: $menu-default;
            &.active {
                background-color: $menu-active;
                a {
                    font-size: 15px;
                    text-decoration: none;
                    cursor: default;
                }
            }
            a {
                padding: 10px;
                text-decoration: none;
                color: #fff;
                display: block;
            }
            &:hover:not(.active) {
                background-color: $menu-active;
            }
            &:hover, &:focus {
                text-decoration: none;
            }
            &:not(:last-child) {
                border-bottom: solid 1px #fff;
            }
        }
    }
}

.right-menu {
    .menu-title {
        text-transform: uppercase;
        font-size: 17px;
        font-weight: 900;
        padding: 10px 10px 5px 10px;
        border-bottom: solid 1px $menu-title;
    }
    .menu-body {
        padding: 0 0 0 15px;
        margin: 0;
        li {
            color: $menu-default;
            cursor: pointer;
            &.active {
                a {
                    font-weight: 900;
                }
            }
            a {
                color: $menu-default;
                font-size: 16px;
                text-decoration: none;
            }
            list-style: square;
            margin: 10px 0;
            &:hover {
                color: $menu-active;
                text-decoration: underline;
                a {
                    color: $menu-active;
                }
            }
        }
    }
}

.right-menu-info {
    position: relative;
    .menu-title {
        text-transform: uppercase;
        font-size: 17px;
        font-weight: 900;
        padding: 0 10px 5px 10px;
        border-bottom: solid 1px $menu-title;
    }
    .menu-body {
        padding: 0;
        margin: 0;
        .phone-number {
            .info-title {
                font-size: 1.7em;
                font-weight: 900;
                width: 80px;
                padding-right: 10px;
            }
            .info-content {
                text-shadow: 1px 1px 2px black, 0 0 1em blue, 0 0 0.2em darkblue;
                color: white;
                font-size: 1.5em;
            }
        }
        .address {
            .info-title {
                font-size: 1.7em;
                font-weight: 900;
                width: 80px;
                padding-right: 12px;
            }
            .info-content {

            }

        }
    }
}

.left-menu-description {
    position: relative;
    .menu-title {
        text-transform: uppercase;
        font-size: 17px;
        font-weight: 900;
        padding: 0 10px 5px 10px;
        border-bottom: solid 1px $menu-title;
    }
    .menu-body {
        padding: 0;
        margin: 0;
        ul {
            padding-left: 15px;
        }
    }
}

// div {
//     width: 100px;
//     height: 100px;
//     background-color: red;
//     position: relative;
//     /* Safari 4.0 - 8.0 */
//     -webkit-animation-name: example;
//     -webkit-animation-duration: 5s;
//     -webkit-animation-timing-function: linear;
//     -webkit-animation-delay: 2s;
//     -webkit-animation-iteration-count: infinite;
//     -webkit-animation-direction: alternate;
//     /* Standard syntax */
//     animation-name: example;
//     animation-duration: 5s;
//     animation-timing-function: linear;
//     animation-delay: 2s;
//     animation-iteration-count: infinite;
//     animation-direction: alternate;
// }

/* Safari 4.0 - 8.0 */
@-webkit-keyframes discoloration {
    0%   {color:red;}
    25%  {color:yellow;}
    50%  {color:blue;}
    75%  {color:green;}
    100% {color:red;}
}

/* Standard syntax */
@keyframes discoloration {
    0%   {color:red;}
    25%  {color:yellow;}
    50%  {color:blue;}
    75%  {color:green;}
    100% {color:red;}
}
