.top-header {
    padding: 10px 0;
    margin: 0;
    background-color: #fff;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-right: solid 1px #d3e0e9;
    border-left: solid 1px #d3e0e9;
    .top-content {
        display: flex;
        margin-top: 10px;
        justify-content: center;
        .logo-image {
            background-image: url("../images-css/logo.png");
            width: 100px;
            height: 100px;
            background-repeat: no-repeat;
            background-size: 100%;
            background-position: center;
        }
        .search-bar {
            width: 100%;
            form {
                width: 100%;
                .search-field {
                    border-radius: 0;
                }
                .search-icon {
                    border-radius: 0;
                    color: #fff;
                }
            }
        }
        .contact {
            font-size: 20px;
            font-weight: 900;
            color: black;
            .name, .phone-number {
                strong {
                    color: red;
                    font-style: italic;
                }

            }
        }
    }
}
